@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slick-slide > div {
  margin:0 10px;
}