.manage-product-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  background: #fff;
  margin-left: 50px;
  border-radius:50px;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.search-bar input {
  padding:5px;
  margin-left: 10px;
  width:25%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.mproduct-box {
  border-radius:25px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 10px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mproduct-box:hover {
  transform: scale(1.01);
}

.mproduct_content-1 {
  display: flex;
  flex-direction: column;
  /* background: #00F090; */
  width:100%;
  max-width:200px;
  height:100%;
  padding: 5px;
}

.mproduct_content-1  img {
  height: 85%;
  width: 85%;
  object-fit: fit;
}

.mproduct_content-1  p {
  margin-bottom: 5px;
  font-size: 12px;
}

.mproduct_content-2 {
  display: flex;
  flex-direction: column;
  /* background: #00F090; */
  width:100%;
  height:100%;
  padding: 5px;
}

.detail-box {
  display:flex;
  flex-direction: column;
  width:500px;
  height: 300px;
}

.detail-box h3{
  margin-bottom: 5px;
  font-size: 20px;
}

.detail-box hr {
  margin-bottom: 5px;
}

.detail-box p {
  font-weight: lighter;
  font-size: 14px;
}

.mproduct_content {
  display: flex;
  flex-direction: column;
  grid-gap: 5rem;
  /* background: #00F090; */
  width:100%;
  height:100%;
  padding: 5px;
}

.price-container {
  padding: 10px;
  display:flex;
  justify-content: end;
}

.mproduct-action {
  padding: 10px;
  display:flex;
  justify-content: end;
}

.update-link {
  display: flex;
  justify-content: center;
}

.update-link a {
  padding-top: 50px;
}