@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Dosis:wght@200;300&family=Manrope:wght@300&family=Noto+Sans+Thai&family=Nunito+Sans&family=Pacifico&family=Poppins&display=swap');

.wrapper {
  width: 420px;
  background: rgb(238, 231, 231);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
  
}

.wrapper h1 {
  font-size: 30px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 30px 0 10px;
}

.input-box input {
  width: 350px;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 14px;
  color: #000000;
  padding: 20px 45px 20px 20px;
  transition: 300ms;
}

.input-box input::placeholder {
  color: #2b2b2b;
  opacity: 50%;
  /* padding-left: 10px ; */
}

.input-box input:hover {
  background-color: rgb(187, 179, 239);
}

.input-box .icon{
  margin-right: 5px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.wrapper .register {
  font-size: 14.5px;
  margin-top: 10px;
}

.register a{
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 300ms;
}

.register a:hover{
  text-decoration: underline;
}
  
.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper .btn-login {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 300ms;
  margin : 30px 0 ;
}

.wrapper .btn-login:hover {
  background-color: mediumaquamarine;;
  color: #fff;
  transform: scale(1.1);
}
