
.big-box {
  position: relative;
  min-height: 150px;
}

.header-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrapper-cart {
  max-width: 1000px;
  margin: 0 auto;
}

.project {
  display: flex;
}

.shop {
  flex: 3;
}

.box {
  display: flex;
  width: 100%;
  height: 260px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box:hover {
  transform: scale(1.01);
}

.box img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}

.content {
  padding: 20px;
  width: 100%;
  position: relative;
}

.content h2 {
  margin-bottom: 10px;
  color: black;
}

.content p {
  color: black;
  margin-bottom: 5px;
}

.input-qty {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.btn-edit, .btn-remove {
  font-weight: 900;
  transition: 300ms;
  width: 100px;
  padding: 10px 20px;
  border: 0.5px;
  border-radius: 6px ;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 white, 4px 4px rgb(122, 122, 122);
}

.btn-edit {
  background-color: #00FFB3;
  color: white;
  margin-top: 25px;
}

.ul {
  max-width: 1000px;
}

.btn-remove {
  background-color: #00E5A0;
  color: white;
  border: 0.5px solid;
  margin-left:25px;
}

.btn-edit:hover, .btn-remove:hover {
  box-shadow: 4px 3px 0 0 white, 8.5px 8.5px rgb(122, 122, 122);
}

.link {
  text-decoration: none;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%; 
}

.items-box {
  flex: 3;
  margin-right: 20px;
}

.order-bar {
  align-items:center;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
