.content-container {
  display:flex;
  margin: 30px;
  justify-content: center;
}

.create {
  width: 1000px;
  height: 1000px;
  display: flex;
  padding: 20px 100px;
  background: #fff;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 50px;
}

.content-create h3 p{
  text-align: center;
  margin-bottom: 40px;
}

.content-create p{
  font-size: 14px;
}

.content-create hr {
  margin-top: 15px;
  width:800px;
}

.input-create  {
  margin: 15px 0 0 0;
  font-size: 14px; 
  display: flex;
  justify-content: space-between;
}

.input-create label{
  margin-right: 100px;
}

.input-create input {
  width: 500px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.list-box {
  margin-left: 135px;
}

.list-box select{
  text-align: center;
  outline:0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.input-create-2  {
  margin: 15px 0 0 0;
  font-size: 14px; 
  display: flex;
}

.input-create-2 label{
  margin-right: 100px;
}

.input-create-2 input{
  width: 300px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
  

.size-chart {
  display:flex;
  justify-content: space-between;
}

.size-table {
  border-collapse: collapse;
  margin: 0px 10px;
  min-width: 200px;
}

.size-table thead tr {
  text-align: left;
}

.create-action  {
  margin: 40px 0 0 0;
  font-size: 14px; 
  display: flex;
  justify-content: center;
}

.create-action button{
  width:50%;
  height:35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.size-input {
  display:flex;
  justify-content: space-between;
}

.size-input input {
  margin-left: 20px;
  width:100%;
}

.size-input select {
  width:80%;
  height:30px;
  border:none;
}